@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /*Gradiant 1*/
    --colorgradient1: linear-gradient(90deg, #b72193 0%, #5925e9 100%);
    /*Gradiant 2*/
    --colorgradient2: linear-gradient(90deg, #3d00eb 0%, #9d1ca6 100%);
    /*Couleur de fond de la page */
    --bgpost: #d9d9d9;
}

* {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VERSION MOBILE */
@media screen and (max-width: 768px) {

    /*HEADER*/
    .bg-header {
        background-image: url("../img/images/background.jpg)");
        height: 25vh;
        background-size: cover;
        background-position: center;
    }

    .logo-WCM {
        height: 13vh;
        padding-top: 2vh;
        height: 8vh;
        right: 3vh;
        position: absolute;
    }

    .logo-acceuil,
    .logo-user,
    .logo-search,
    .logo-disconnection {
        height: 4.5vh;
    }

    .logo-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 1vh;
        padding-bottom: 4vh;
        padding-left: 10vh;
    }

    .home,
    .profil,
    .search,
    .log-out {
        list-style: none;
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin-bottom: 5vh;
        padding-left: 2vh;
    }

    .menu-hamburger {
        width: 9vh;
        position: absolute;
        left: 1.5vh;
        top: 1.5vh;
        display: block;
    }

    nav {
        position: absolute;
        display: flex;
        padding: 0 1rem;
    }

    .nav-links {
        background: linear-gradient(90deg, #b72193 0%, #5925e9 100%);
        width: 100%;
        height: 45vh;
        margin-left: -100vh;
        transition: all 0.8s ease;
    }

    .mobile-menu {
        margin-left: 0;
        position: absolute;
    }

    /*BODY*/

    /* .Slider */
    .slider {
        padding-top: 2.5vh;
        display: flex;
        align-items: center;
    }

    #slider1 {
        background-position: center;
        background-size: cover;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 15%;
    }

    #back,
    #next {
        font-size: 7vh;
        position: absolute;
        color: #ffffff;
        cursor: pointer;
        font-weight: 1000;
    }

    #back {
        left: 8vh;
    }

    #next {
        right: 8vh;
    }

    li {
        list-style: none;
    }

    /*  Stories  */
    #stories {
        padding-left: 45px;
        padding-bottom: 5px;
    }

    .story {
        width: 10vh;
        height: 10vh;
        border: 4px solid #8323c3;
        border-radius: 50%;
        justify-content: space-evenly;
        margin-right: 1vh;
    }

    .story:hover {
        transform: scale(1.1);
    }

    .story.viewed {
        border: 4px solid white;
    }

    .stories-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .stories-modal img {
        margin-right: 10vh;
        margin-bottom: 20vh;
        max-width: 75%;
        max-height: 75%;
        object-fit: contain;
    }

    /*What's Up post*/
    .NewPost {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #ffffff;
    }

    .NNewPost {
        width: 300px;
        padding: 5px;
        margin: 15px;
        border: none;
        box-shadow: grey 5px 5px 5px;
    }

    .NPost {
        width: 80px;
        border: none;
        box-shadow: grey 5px 5px 5px;
        background-color: #9d1ca6;
        color: white;
        left: 100%;
    }

    /* Posts*/
    .profile-container {
        background-color: white;
        display: flex;
        margin-top: 20px;
    }

    .posts {
        padding: 1vh;
        text-decoration: none;
    }

    .username {
        padding-top: 1vh;
        padding-left: 1vh;
        font-size: medium;
    }

    .profile {
        height: 5vh;
    }

    .articletitle {
        font-weight: 600;
        margin: 5px;
    }

    .PostDate {
        color: rgb(91, 85, 85);
        font-size: 10px;
    }

    /*ReactPost1*/
    .text {
        background-color: #d9d9d9;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    /*like*/

    .btn {
        background: transparent;
        border: none;
        font-size: 16px;
        color: grey;
        margin: 2px;
    }

    .btn i:hover {
        cursor: pointer;
    }

    #btnh1 {
        border: black;
        background: transparent;
        font-size: 16px;
        color: grey;
    }

    /*comment*/
    #showDialog,
    #showDialog2,
    #showDialog3 {
        border: none;
        color: gray;
        background: transparent;
        font-size: 16px;
        margin: 2px;
    }

    #commentBox {
        width: 350px;
        height: 120px;
        border: grey solid;
    }

    #favDialog,
    #favDialog2,
    #favDialog3 {
        justify-content: center;
        left: 10%;
        top: 40%;
        width: 300px;
        padding: 20px;
        border: none;
        border-radius: 5px;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        margin: 10px;
        padding: 10px;
        border: none;
        box-shadow: grey 5px 5px 5px;
    }

    menu {
        border: none;
    }

    #favDialog button,
    #favDialog2 button,
    #favDialog3 button {
        border: none;
        box-shadow: grey 5px 5px 5px;
        background-color: #9d1ca6;
        width: 100px;
        margin: 10px;
        color: white;
    }

    output#result {
        margin: 100px;
    }

    /*retweet*/
    .retweetIcon {
        border: none;
        color: gray;
        background: transparent;
        font-size: 16px;
        margin: 2px;
    }

    #retweetBox {
        padding: 10px;
        border: none;
        border-radius: 5px;
        left: 4%;
        top: 30%;
    }

    input.userComment {
        width: 300px;
    }

    #publish {
        margin: 10px;
        padding: 5px;
    }

    #publishBtn {
        margin: 10px;
        padding: 5px;
        background-color: purple;
        color: white;
    }

    #publish.abled {
        background-color: purple;
        color: white;
    }

    /*Section backdrop box popover*/
    ::backdrop {
        backdrop-filter: blur(1.5px) saturate(50%);
    }

    .reactPost1,
    .reactPost2,
    .reactPost3 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /*React post 2*/

    .reactspost2 {
        padding-left: 45vh;
        background-color: white;
    }

    #messagesWilders {
        text-align: center;
    }

    #laptopPicture {
        background-position: center;
        background-size: cover;
        width: 55vh;
    }

    .reactspost3 {
        padding-left: 45vh;
        background-color: white;
    }

    .video {
        height: 40vh;
        width: 55vh;
    }

    /* wilders*/
    .wilder {
        border: solid rgb(0, 0, 0);
        border-radius: 10x;
        padding: 20px;
    }

    #wilder {
        border: solid #460ee0;
        box-shadow: 1px 1px 1px rgb(128, 14, 180);
        border-radius: 5vh;
        margin: 3vh;
        padding: 20px;
    }

    /*FOOTER*/

    .ending {
        padding-top: 3vh;
        background: var(--colorgradient1);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aPropos {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 1vh;
    }

    #aPropos a {
        color: white;
        text-decoration: none;
    }

    #aPropos li {
        margin: 0 0.1vh;
    }

    .credits {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1vh;
    }

    .credits a {
        color: white;
        font-size: 0.8em;
        margin-top: 5px;
    }
}

/* VERSION TABLET */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /*HEADER*/
    .bg-header {
        background-image: url(/assets/img/images/background.jpg);
        height: 22vh;
        background-size: cover;
        background-position: center;
    }

    .logo-WCM {
        height: 13vh;
        padding-top: 2vh;
        height: 8vh;
        right: 3vh;
        position: absolute;
    }

    .logo-disconnection {
        height: 4.5vh;
    }

    .logo-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-right: 1vh;
        padding-bottom: 4vh;
        padding-left: 10vh;
    }

    .home,
    .profil,
    .search,
    .log-out {
        list-style: none;
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin-bottom: 5vh;
        padding-left: 2vh;
    }

    .menu-hamburger {
        width: 9vh;
        position: absolute;
        left: 1.5vh;
        top: 1.5vh;
        display: block;
    }

    nav {
        position: absolute;
        display: flex;
        padding: 0 1rem;
    }

    .nav-links {
        background: linear-gradient(90deg, #b72193 0%, #5925e9 100%);
        width: 100%;
        height: 40vh;
        margin-left: -100vh;
        transition: all 0.8s ease;
    }

    .mobile-menu {
        margin-left: 0;
    }

    body {
        background-color: #e6e6e6;
    }

    /*BODY*/
    /*  Nav */
    li {
        list-style: none;
    }

    /* .Slider */
    .slider {
        display: flex;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        align-items: center;
    }

    #slider1 {
        display: flex;
        justify-content: center;
        border-radius: 5%;
        width: 65%;
    }

    #back,
    #next {
        font-size: 7vh;
        position: absolute;
        color: #ffffff;
        cursor: pointer;
        font-weight: 1000;
    }

    #back {
        left: 14vh;
    }

    #next {
        right: 14vh;
    }

    /*  Stories  */
    #stories {
        padding-left: 45px;
        padding-bottom: 5px;
    }

    .story {
        width: 10vh;
        height: 10vh;
        border: 4px solid #8323c3;
        border-radius: 50%;
        justify-content: space-evenly;
        margin-right: 1vh;
    }

    .story:hover {
        transform: scale(1.1);
    }

    .story.viewed {
        border: 4px solid white;
    }

    .stories-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .stories-modal img {
        margin-right: 10vh;
        margin-bottom: 20vh;
        max-width: 75%;
        max-height: 75%;
        object-fit: contain;
    }

    /*What's Up post*/
    .NewPost {
        width: 800px;
        display: flex;
        align-items: center;
    }

    .NNewPost {
        width: 450px;
        border: none;
        box-shadow: grey 5px 5px 5px;
    }

    .NPost {
        width: 60px;
        padding: 10px;
        border: none;
        box-shadow: grey 5px 5px 5px;
        background-color: #9d1ca6;
        color: white;
    }

    /* posts*/

    .profile-container {
        background-color: white;
        display: flex;
    }

    .posts {
        padding: 1vh;
        text-decoration: none;
    }

    .username {
        padding-top: 2vh;
        padding-left: 2vh;
        font-size: larger;
    }

    .profile {
        height: 7vh;
    }

    .articletitle {
        margin: 5px;
        font-size: 20px;
        font-weight: 600;
    }

    .text {
        background-color: #d9d9d9;
        padding-top: 1vh;
        padding-bottom: 2vh;
        font-size: 20px;
    }

    .PostDate {
        color: rgb(91, 85, 85);
        font-size: 15px;
        padding: 10px;
    }

    /*like*/

    .btn {
        background: transparent;
        border: none;
        font-size: 50px;
        color: grey;
        margin: 2px;
    }

    .btn i:hover {
        cursor: pointer;
    }

    #btnh1 {
        border: black;
        background: transparent;
        font-size: 25px;
        color: grey;
    }

    /*comment*/
    #showDialog,
    #showDialog2,
    #showDialog3 {
        border: none;
        color: gray;
        background: transparent;
        font-size: 25px;
        margin: 2px;
    }

    #commentBox {
        width: 300px;
        height: 120px;
        border: gray thick double;
    }

    #favDialog,
    #favDialog2,
    #favDialog3 {
        justify-content: center;
        left: 10%;
        top: 40%;
        width: 600px;
        padding: 50px;
        border: none;
        border-radius: 20px;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        margin: 30px;
        padding: 30px;
        border: none;
        box-shadow: grey 10px 10px 10px;
    }

    menu {
        border: none;
    }

    #favDialog menu button,
    #favDialog2 menu button,
    #favDialog3 menu button {
        border: none;
        box-shadow: grey 10px 10px 10px;
        background-color: #9d1ca6;
        width: 100px;
        margin: 40px;
        color: white;
    }

    output#result {
        margin: 100px;
    }

    /*retweet*/
    .retweetIcon {
        border: none;
        color: gray;
        background: transparent;
        font-size: 25px;
        margin: 2px;
    }

    #retweetBox {
        padding: 20px;
        border: gray thick double;
        border-radius: 10px;
        left: 15%;
        top: 30%;
    }

    input.userComment {
        width: 400px;
        padding: 50px;
    }

    #publish {
        margin: 20px;
        padding: 10px;
        font-size: 20px;
    }

    #publishBtn {
        margin: 30px;
        padding: 10px;
        background-color: purple;
        color: white;
        font-size: 20px;
    }

    #publish.abled {
        background-color: purple;
        color: white;
    }

    /*Section backdrop box popover*/
    ::backdrop {
        backdrop-filter: blur(1.5px) saturate(50%);
    }

    .reactPost1,
    .reactPost2,
    .reactPost3 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /*React post 2*/
    #btnh2,
    #btnh3 {
        font-size: 25px;
    }

    #laptopPicture {
        background-position: center;
        background-size: cover;
        width: 65vh;
    }

    /*React post 3*/
    .video {
        height: 40vh;
        width: 65vh;
    }

    /* wilders*/
    .wilder {
        border: solid rgb(0, 0, 0);
        border-radius: 10x;
        padding: 20px;
    }

    #wilder {
        border: solid #460ee0;
        box-shadow: 1px 1px 1px rgb(128, 14, 180);
        border-radius: 5vh;
        margin: 3vh;
        padding: 20px;
    }

    /*FOOTER*/

    .ending {
        padding-top: 3vh;
        background: var(--colorgradient1);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aPropos {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #aPropos a {
        color: white;
        text-decoration: none;
    }

    #aPropos li {
        margin: 0 5px;
    }

    .credits {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .credits a {
        color: white;
        font-size: 0.8em;
        margin-top: 5px;
    }
}

/* VERSION DESKTOP */
@media screen and (min-width: 992px) {

    /*HEADER*/
    /*Header*/
    .bg-header {
        background-image: url(/assets/img/images/background.jpg);
        height: 40vh;
        background-size: cover;
        background-position: center;
    }

    .logo-WCM {
        height: 13vh;
        padding-top: 2vh;
        height: 8vh;
        position: absolute;
    }

    .logo-acceuil,
    .logo-user,
    .logo-search,
    .logo-disconnection {
        height: 4.5vh;
        padding-top: 2vh;
    }

    .logo-nav {
        display: flex;
        justify-content: flex-end;
        padding-top: 2vh;
        padding-right: 4vh;
    }

    .home,
    .profil,
    .search,
    .log-out {
        list-style: none;
        color: white;
        text-decoration: none;
        font-size: 2.5vh;
        padding-left: 2vh;
        padding-right: 2.5vh;
    }

    .menu-hamburger {
        width: 9vh;
        position: absolute;
        left: 1.5vh;
        top: 1.5vh;
        display: none;
    }

    .nav-links {
        background: linear-gradient(90deg, #b72193 0%, #5925e9 100%);
        width: 100%;
        height: 11vh;
    }

    body {
        background-color: #e6e6e6;
    }

    /*  Nav */
    li {
        list-style: none;
    }

    /*BODY*/

    /* .Slider */

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3vh;
    }

    #slider1 {
        display: flex;
        justify-content: center;
        border-radius: 5%;
        width: 40%;
        align-items: center;
    }

    #back,
    #next {
        font-size: 7vh;
        position: absolute;
        color: #ffffff;
        cursor: pointer;
        font-weight: 1000;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #back {
        left: 25vh;
        border-radius: 46% 54% 48% 52% / 54% 54% 46% 46%;
        background: linear-gradient(90deg, #b72193 0%, #5925e9 100%);
    }

    #next {
        right: 25vh;
        border-radius: 46% 54% 48% 52% / 54% 54% 46% 46%;
        background: linear-gradient(90deg, #3d00eb 0%, #9d1ca6 100%);
    }

    /*  Stories  */
    #stories {
        padding-left: 22vh;
        padding-top: 5vh;
        padding-bottom: 1vh;
    }

    .story {
        width: 15vh;
        height: 15vh;
        border: 4px solid #8323c3;
        border-radius: 50%;
        justify-content: space-between;
        margin-right: 1vh;
    }

    .story:hover {
        transform: scale(1.1);
    }

    .story.viewed {
        border: 4px solid white;
    }

    .stories-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .stories-modal img {
        margin-right: 10vh;
        margin-bottom: 20vh;
        max-width: 75%;
        max-height: 75%;
        object-fit: contain;
    }

    /*What's Up post*/
    .NewPost {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .NNewPost {
        width: 300px;
        border: none;
        box-shadow: grey 5px 5px 5px;
        display: flex;
        justify-content: center;
    }

    .NPost {
        width: 60px;
        padding: 10px;
        border: none;
        box-shadow: grey 5px 5px 5px;
        background-color: #9d1ca6;
        color: white;
    }

    /* posts*/

    .profile-container {
        margin-right: 60vh;
        background-color: white;
        display: flex;
        padding-top: 20px;
    }

    .posts {
        padding: 3vh;
        margin-left: 20vh;
        text-decoration: none;
    }

    .username {
        margin-right: 20vh;
        padding-top: 5vh;
        padding-left: 5vh;
        font-size: larger;
    }

    .profile {
        height: 10vh;
        margin-left: 3vh;
        margin-bottom: 3vh;
    }

    .text {
        padding: 1vh;
        margin-right: 60vh;
        background-color: #d9d9d9;
        padding-top: 1vh;
        padding-bottom: 4vh;
        font-size: large;
    }

    .articletitle {
        margin-right: 60vh;
        background-color: #d9d9d9;
        font-weight: bold;
        font-size: larger;
        padding: 1vh;
    }

    .text {
        background-color: #d9d9d9;
        padding-top: 1vh;
        padding-bottom: 2vh;
        font-size: 20px;
    }

    .PostDate {
        color: rgb(91, 85, 85);
        font-size: 15px;
        padding: 10px;
    }

    /*like*/

    .btn {
        background: transparent;
        border: none;
        font-size: 25px;
        color: grey;
        margin: 2px;
    }

    .btn i:hover {
        cursor: pointer;
    }

    #btnh1 {
        border: black;
        background: transparent;
        font-size: 25px;
        color: grey;
    }

    /*comment*/
    #showDialog,
    #showDialog2,
    #showDialog3 {
        border: none;
        color: gray;
        background: transparent;
        font-size: 25px;
        margin: px;
    }

    #commentBox {
        width: 500px;
        height: 200px;
        border: gray thick double;
    }

    #favDialog,
    #favDialog2,
    #favDialog3 {
        justify-content: center;
        left: 10%;
        top: 40%;
        width: 600px;
        padding: 50px;
        border: none;
        border-radius: 20px;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    input {
        margin: 30px;
        padding: 30px;
        border: none;
        box-shadow: grey 10px 10px 10px;
    }

    menu {
        border: none;
    }

    #favDialog menu button,
    #favDialog2 menu button,
    #favDialog3 menu button {
        border: none;
        box-shadow: grey 10px 10px 10px;
        background-color: #9d1ca6;
        width: 100px;
        margin: 40px;
        color: white;
    }

    output#result {
        margin: 100px;
    }

    /*retweet*/
    .retweetIcon {
        border: none;
        color: gray;
        background: transparent;
        font-size: 25px;
        margin: 2px;
    }

    #retweetBox {
        padding: 20px;
        border: gray thick double;
        border-radius: 10px;
        left: 15%;
        top: 30%;
    }

    input.userComment {
        width: 400px;
        padding: 50px;
    }

    #publish {
        margin: 20px;
        padding: 10px;
        font-size: 20px;
    }

    #publishBtn {
        margin: 30px;
        padding: 10px;
        background-color: purple;
        color: white;
        font-size: 20px;
    }

    #publish.abled {
        background-color: purple;
        color: white;
    }

    /*Section backdrop box popover*/
    ::backdrop {
        backdrop-filter: blur(1.5px) saturate(50%);
    }

    .reactPost1,
    .reactPost2,
    .reactPost3 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    /*React post 2*/
    #btnh2,
    #btnh3 {
        font-size: 25px;
    }

    #laptopPicture {
        margin-right: 92vh;
        background-color: #d9d9d9;
        font-size: xx-large;
        background-position: center;
        background-size: cover;
        width: 114vh;
        height: 60vh;
    }

    /*React post 3*/
    .video {
        width: 114vh;
        height: 60vh;
    }

    /* wilders*/
    .wilder {
        border: solid rgb(0, 0, 0);
        border-radius: 10x;
        padding: 20px;
    }

    #wilder {
        border: solid #460ee0;
        box-shadow: 1px 1px 1px rgb(128, 14, 180);
        border-radius: 5vh;
        margin: 3vh;
        padding: 20px;
        margin-left: 22vh;
        margin-right: 22vh;
        margin-bottom: 5vh;

    }

    /*FOOTER*/
    .ending {
        padding-top: 3vh;
        background: var(--colorgradient1);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #aPropos {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #aPropos a {
        color: white;
        text-decoration: none;
    }

    #aPropos li {
        margin: 0 5px;
    }

    .credits {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .credits a {
        color: white;
        font-size: 0.8em;
        margin-top: 5px;
    }
}
