* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorgradient1: #B72193 (0%) (100%) - #5925E9 (100%) (100%)
}

:root {
    --colorgradient2: #3D00EB (0%) (100%) - #9D1CA6 (100%) (100%)
}

/*  color quand on passe la souris dessus */
:root {
    --hover: #63c7b2
}

/*  Nav */
li {
    list-style: none;

}

a:hover {
    var(--hover);
}

header {
    background-image: url(/assets/img/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

bg-header {
    background-image: url(/assets/img/images/background.jpg);
    height: 20vh;

    background-size: cover;
    background-position: center;
}

.menu-hamburger {
    width: 300px;
    position: absolute;
    margin: 1rem;


}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;

}